* {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

body {
  background: url('petronas_towers.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;*/
}

#gameBox {
  background-color: #ffffff;
  background: linear-gradient(top, rgba(255,255,255,.90), rgba(255,255,255,.90));
  background: -webkit-linear-gradient(top, rgba(255,255,255,.90), rgba(255,255,255,.90));
  background: -moz-linear-gradient(top, rgba(255,255,255,.90), rgba(255,255,255,.90));
  width: 40em;
  margin: 0 auto;
  padding: 2em;
  border-radius: 15px;
}

input {
  padding:5px;
  font-size: 15px;
  color:#000;
  background-color: #fff;
  border: 1px solid #0052cc;
  border-radius: 5px;
}

button {
  padding:5px;
  font-size: 15px;
  color:#fff;
  background-color: #0052cc;
  border: 1px solid #0066ff;
  border-radius: 5px;
}

.cardAdd {
  margin-top: 10px;
}

.frontVal {
  border: solid #0052cc 2px;
  margin: 2em auto;
  padding: 10px;
  border-radius: 5px;
  width: 20em;
  background-color: #ffffff;
}

.funFact {
  text-align: left;
  margin: 2em;
  line-height: 150%;
}

.correct {
  margin: 0 10px;
}
